body {
  font-family: sans-serif;
  font-size: 14px;
  background-color: wheat;
}

.cleared {
  clear: both;
}

table tr td {
  border: 1px solid #AAA;
  width: 101px;
  height: 171px;
  cursor: pointer;
}

td img {
  display: none;
}